<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<body>
    <div class="fundo">
        <div class="nav">
            <img src="..\assets\m_arte.png" width="100px" height="100px">
            <a class="comp" href="#">
                Inscrever-se | Entrar
            </a>
        </div>
        <h1 class="text1">Trabalho é<br>Arte</h1>
        <h1 class="text2">O sentimento de trabalhar com o que ama</h1>
        <button class="button">Começar</button>
        <div class="carousel-container">
            <div class="carousel">
                <img src="../assets/image1.jpg" alt="Imagem 1">
                <img src="../assets/image2.jpg" alt="Imagem 2">
                <img src="../assets/image3.jpg" alt="Imagem 3">
            </div>
        </div>
    </div>
</body>

