<div class="fundo">
    <div class="nav">
        <img src="..\assets\m_arte.png" width="100px" height="100px">
        <a class="comp" href="#">
            Inscrever-se | Entrar
        </a>
    </div>
    <div class="espaco-login">
        <h1 class="Text1">Faça seu login</h1>
        <h1 class="Text2">Insira seu email, CPF ou CNPJ:</h1>
        <input type="text" class="inserir-email" placeholder="">
        <h1 class="Text3">Insira sua senha:</h1>
        <input type="text" class="inserir-senha" placeholder="">
        <button class="button"><span class="arrow">→</span></button>
        <a class="Text4" href="#">Ainda não possui conta? Crie uma aqui</a>
    </div>
</div>
